/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-main {
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headingMain {
  font-family: "ClashDisplayMedium", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
}

.headinSub {
  font-size: 1rem;
}
